<section class="tab _ensalmos" data-group="primary" data-tab="ensalmos">

    <div class="_2columns _dropZone">
        <div class="_gridLeft">

            <nav class="tabs _subMenu" data-group="ensalmos">
                <a data-action="tab" data-group="ensalmos" data-tab="preparacion">{{localize 'common.preparacion'}}</a>
                <a data-action="tab" data-group="ensalmos" data-tab="estudio">{{localize 'common.estudio'}}</a>
            </nav>

            <section class="tab scrollable" 
                     data-group="ensalmos" 
                     data-tab="preparacion">
                {{>ensalmosPreparacion_comun}}
            </section>

            <section class="tab scrollable" 
                     data-group="ensalmos" 
                     data-tab="estudio">
                {{>ensalmosEstudio_comun}}
            </section>            
        </div>
        <div class="_gridRight _gridBox scrollable">
            {{>ensalmosGrimorio_comun}}
        </div>        
    </div>

</section>